#about{
    height: 40px;
    width: 50px;
    border: 2px;

}
#friend{
    height: 300px;
}

#boy{
    height: 100px;
    width: 100px;
}
#ins{
    height: 30px;
}
#fac{
    height: 30px;
}
#lin{
    height: 30px;
}